node_modules
.output
.nitro
.tanstack
.vercel
dist
build
.env
.env.*
!.env.example
*.log
.DS_Store
android/app/build
android/.gradle
android/local.properties
android/captures
android/keystore/
*.jks
*.keystore
android/app/release/

ios/App/Pods
ios/App/build
ios/DerivedData
/screenshots
.grok
AGENTS.md
AGENTS.project.md
.node_modules.lock
.project_id
artifacts
.idea
.vscode
